* {
  margin: 0;
  padding: 0;
}

body {
    font-family: './assets/orkney' sans-serif;
}

body header {
  background-color: #64ccc5;
  display: flex;
  justify-content: space-between;
}

body header h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 3.5em;
}

body header img {
    padding: 1%;
}

body header .burger-menu {
  position: fixed;
  width: 0px;
}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background: #053b50;
  width: 300px;
  display: block;
  color: white;
  text-align: right;
  transform: translateX(-280px);
  padding: 10px;
}

body header .burger-menu nav {
  background: #053b50;
  overflow: hidden;
  width: 280px;
  transform: translateX(-280px);
  font-size: 1.5em;
}

#hamburger-logo,
nav {
  transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  transform: translate(0px);
}

body header .burger-menu nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

body header .burger-menu nav a:hover {
  background: #64CCC5;  
}
