body {
    background-image: url('assets/photo-rando/Marseille\ Calanque.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Pour enlever la marge par défaut du corps */
    
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image-container p {
    margin: 0;
}

.grid-item h2,
.grid-item p {
    margin: 0;
}
.grid-item h2 {
    margin-bottom: 10px; /* Ajoutez la marge souhaitée entre le titre et le texte en dessous */
}

.grid-item p {
    margin: 0;
}