@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-medium.otf");
  font-style: medium;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-light.otf");
  font-style: light;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: orkney;
}

/**********************************


************** HEADER *************


***********************************/

body header {
  display: flex;
}


body header .bandeaux {
  width: 90%;
  margin: auto;
}

body header .bandeaux .reseaux {
  display: flex;
  margin-top: 1%;
}

body header .bandeaux .reseaux a {
  margin: auto;
}

body header .bandeaux .reseaux img {
  display: flex;
  align-items: flex-end;
}

body header .bandeaux .reseaux input {
  display: flex;
  width: 40%;
  border: solid 1px #176b87;
  border-radius: 20px;
  background-color: #f8f9f1;
  opacity: 0.7;
  text-align: center;
  height: 25px;
  margin: auto;
}

body header .burger-menu {
  position: fixed;
  width: 0px;
}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background: #053b50;
  display: block;
  color: white;
  text-align: right;
}

body header .burger-menu nav {
  background: #053b50;
  overflow: hidden;
}

#hamburger-logo,
nav {
  transition: 0.7s;
}

#hamburger:checked~#hamburger-logo,
#hamburger:checked~nav {
  transform: translate(0px);
}

body header .burger-menu nav a {
  display: block;
  color: white;
  text-decoration: none;
}

body header .burger-menu nav a:hover {
  background: #053b50;
}

/**********************************


*************** MAIN **************


***********************************/

body main {
  overflow-x: hidden;
  background-color: #f8f9f1;
}

body main h1,
body main h2 {
  display: flex;
  font-size: 35px;
  color: #176b87;
  justify-content: center;
}

body main h2 {
  font-size: 25px;
  margin-top: 20px;
}

/**********************************


********** MAIN contener **********


***********************************/

body main .container {
  display: flex;
  overflow-x: auto;
  text-align: center;
}

body main .container .container-scroll {
  margin: 5% 5% 1% 5%;
}

body main .container .container-scroll .article-scroll {
  background-color: #053B50;
  border-radius: 8px;
  color: white;
}

body main .container .container-scroll .article-scroll h2 {
  color: #176b87;
  padding: 4%;
}

body main .container .container-scroll .article-scroll img {
  border-radius: 15px;
  margin: 5px;
}

body main .container .container-scroll .article-scroll p {
  font-size: 20px;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

body main .container .container-scroll .article-scroll p::-webkit-scrollbar {
  width: 2px;
}

/**********************************


************ MAIN match ***********


***********************************/

body main .match {
  background-color: #053B50;
}

body main .match .container-scroll .article-scroll {
  background-color: #F8F9F1;
}

body main .match .container-scroll .article-scroll h2 {
  text-align: center;
  font-size: 35px;
}

body main .match .container-scroll .article-scroll h2 span:first-child {
  color: #0b3fa1;
}

body main .match .container-scroll .article-scroll h2 span:last-child {
  color: #af3817;
}


body main .match .container-scroll .article-scroll .gallery {
  display: grid;
  grid-auto-flow: row;
  height: 600px;
  background-color: black;
  margin-top: 25px;
}

body main .match .container-scroll .article-scroll .gallery>img {
  height: 0;
  min-height: calc(100% + 16px / 2);
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0px;
  padding: 0;
}

body main .match .container-scroll .article-scroll .gallery>img:hover {
  height: 300px;
}

body main .match .container-scroll .article-scroll .gallery>img:first-child {
  place-self: start;
  justify-self: center;
  clip-path: polygon(0 0,
      100% 0%,
      100% calc(92% - 16px),
      90% calc(92% + 16px),
      80% calc(92% - 16px),
      70% calc(92% + 16px),
      60% calc(92% - 16px),
      50% calc(92% + 16px),
      40% calc(92% - 16px),
      30% calc(92% + 16px),
      20% calc(92% - 16px),
      10% calc(92% + 16px),
      0 calc(92% - 16px));
}

body main .match .container-scroll .article-scroll .gallery>img:last-child {
  place-self: end;
  justify-self: center;
  background-color: white;
  clip-path: polygon(0% 100%,
      100% 100%,
      100% calc(8% - 16px),
      90% calc(8% + 16px),
      80% calc(8% - 16px),
      70% calc(8% + 16px),
      60% calc(8% - 16px),
      50% calc(8% + 16px),
      40% calc(8% - 16px),
      30% calc(8% + 16px),
      20% calc(8% - 16px),
      10% calc(8% + 16px),
      0 calc(8% - 16px));
}

body main .match .container-scroll .article-scroll p {
  color: black;
}

/**********************************


*************** FOOTER ************


***********************************/

footer {
  position: relative;
  background-image: url(../assets/accueil/fondfootermini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 135px;
}

footer img {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  margin: auto;
}

footer .icon-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 4% 0% 1% 0%;
}

footer p {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 8px;
  text-align: center;
  padding: 1%;
}

/********** Media Query ***********/

@media only screen and (max-width: 480px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 25px;
  }

  #hamburger-logo {
    width: 90px;
    transform: translateX(-70px);
    padding: 5px;
  }

  body header .burger-menu nav {
    width: 100px;
    transform: translateX(-100px);
  }

  body header .burger-menu nav a {
    padding: 10px;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 35px;
  }

  body header .bandeaux .reseaux input {
    height: 35px;
  }

  #hamburger-logo {
    width: 135px;
    transform: translateX(-115px);
    padding: 7.5px;
    font-size: 1.2em;
  }

  body header .burger-menu nav {
    width: 150px;
    transform: translateX(-150px);
  }

  body header .burger-menu nav a {
    padding: 15px;
  }

  body main h1 {
    font-size: 70px;
    margin-top: 20px;
  }

  /********** Footer ***********/

  footer {
    background-image: url(../assets/accueil/fondfooter.jpg);
    height: 180px;
  }

  footer .icon-footer img {
    width: 45px;
  }

  footer .icon-footer .oreille img {
    width: 22.5px;
  }

  footer .icon-footer .plan img {
    width: 30px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 45px;
  }

  body header .bandeaux .reseaux input {
    height: 45px;
  }

  #hamburger-logo {
    width: 202.5px;
    transform: translateX(-187.5px);
    padding: 11.25px;
    font-size: 1.4em;
  }

  body header .burger-menu nav {
    width: 225px;
    transform: translateX(-225px);
  }

  body header .burger-menu nav a {
    padding: 22.5px;
    font-size: 2em;
  }

  body main h1 {
    font-size: 95px;
    margin-top: 30px;
  }

  /********** Footer ***********/

  footer {
    height: 300px;
  }

  footer img {
    width: 150px;
  }

  footer .icon-footer img {
    width: 90px;
  }

  footer .icon-footer .oreille img {
    width: 45px;
  }

  footer .icon-footer .plan img {
    width: 60px;
  }

  footer p {
    font-size: 16px;
    text-align: center;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 1023px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 55px;
  }

  body header .bandeaux .reseaux input {
    height: 55px;
  }

  #hamburger-logo {
    width: 303.75px;
    transform: translateX(-286.25px);
    padding: 16.87px;
    font-size: 1.4em;
  }

  body header .burger-menu nav {
    width: 337.5px;
    transform: translateX(-337.5px);
  }

  body header .burger-menu nav a {
    padding: 33.75px;
    font-size: 2.5em;
  }

  body header .bandeau img {
    width: 168.75px;
  }

  body header .frise {
    background-image: url(../assets/accueil/panorama-normal.jpg);
    height: 337.5px;
  }

  body header .frise img {
    width: 73.125px;
  }

  body header .frise input {
    height: 60px;
    font-size: 40px;
  }

  body main .container {
    justify-content: space-between;
  }

  /********** Footer ***********/

  footer {
    background-image: url(../assets/accueil/fondfooter.jpg);
    height: 400px;
  }

  footer img {
    width: 150px;
  }

  footer .icon-footer img {
    width: 120px;
  }

  footer .icon-footer .oreille img {
    width: 72.5px;
  }

  footer .icon-footer .plan img {
    width: 90px;
  }

  footer p {
    font-size: 18px;
    text-align: center;
  }
}