body {
  text-align: center;
  background-color: #f8f9f1;
}

body main .button {
  display: flex;
  justify-content: space-around;
  margin: 3%;
}

body main .gros-titre-contact {
  width: 100vw;
  height: auto;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: static;
}

body main .button .button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

body main .button .button-86::after,
body main .button .button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
  width: 60%;
}

body main .button .button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #176b87;
  border-radius: 10px;
}

body main .button .button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #64ccc5;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

body main .button .button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

body main .button .button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  color: #0056b3;
}

body main .button .button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

body main .button #contactModal:target {
  display: block;
}

body main .button .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

body main .button .modal form {
  backdrop-filter: blur(20px);
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 90px 100px #0000FF;
}

body main .button .modal form label {
  display: block;
  color: #ffb300;
  font-weight: bold;
  margin-top: 10px;
}
body main .button .modal form input, textarea {
  display: block;
  width: 100%;
  border: 1px solid #0000FF;
  border-radius: 5px;
  padding: 5px;
}
body main .button .modal form input[type="submit"] {
  background-color: #8EA2C6;
  color: white;
  cursor: pointer;
  font-size: 120%;
  margin-top: 20px;
}
body main .button .modal form input[type="submit"]:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

body main .button .modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

body main .button #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

body main .button .modal a:target {
  display: none;
}

body main .sur-place {
  margin: 2%;
  border: solid 2px #176b87;
  border-radius: 10px;
  font-size: 10px;
}

body main .sur-place .image-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
}

body main .sur-place .image-container {
  height: 200px;
}

body main .sur-place .image-container .hover {
  display: none;
}

body main .sur-place .image-container .normal:hover {
  display: none;
}

body main .sur-place .image-container img.normal:hover~.hover {
  display: inline-block;
  border-radius: 25px;
  border: solid black;
}

body main .sur-place h1 {
  font-size: 34px;
  padding: 2%;
  color: #f8f9f1;
}

body main .sur-place h2 {
  font-size: 20px;
  padding: 3%;
  color: #053B50;
}

body main .sur-place .arrondissements {
  display: flex;
  justify-content: space-around;
  position: relative;
}

body main .sur-place .arrondissements img {
  margin: 4% 0%;
  border: #0056b3 solid;
}

body main .sur-place .arrondissements .un-sept {
  display: none;
}

body main .sur-place .arrondissements .un:hover {
  display: none;
}

body main .sur-place .arrondissements .un:hover~.un-sept {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .deux-trois {
  display: none;
}

body main .sur-place .arrondissements .deux:hover {
  display: none;
}

body main .sur-place .arrondissements .deux:hover~.deux-trois {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .quatre-cinq {
  display: none;
}

body main .sur-place .arrondissements .quatre:hover {
  display: none;
}

body main .sur-place .arrondissements .quatre:hover~.quatre-cinq {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .six-huit {
  display: none;
}

body main .sur-place .arrondissements .six:hover {
  display: none;
}

body main .sur-place .arrondissements .six:hover~.six-huit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .neuf-dix {
  display: none;
}

body main .sur-place .arrondissements .neuf:hover {
  display: none;
}

body main .sur-place .arrondissements .neuf:hover~.neuf-dix {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .onze-douze {
  display: none;
}

body main .sur-place .arrondissements .onze:hover {
  display: none;
}

body main .sur-place .arrondissements .onze:hover~.onze-douze {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .treize-quatorze {
  display: none;
}

body main .sur-place .arrondissements .treize:hover {
  display: none;
}

body main .sur-place .arrondissements .treize:hover~.treize-quatorze {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body main .sur-place .arrondissements .quinze-seize {
  display: none;
}

body main .sur-place .arrondissements .quinze:hover {
  display: none;
}

body main .sur-place .arrondissements .quinze:hover~.quinze-seize {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  body main .gros-titre-contact img {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  body main .gros-titre-contact img {
    width: 100%;
  }

  body main .sur-place h1 {
    font-size: 50px;
  }

  body main .sur-place .image-container {
    height: 300px;
  }

  body main .sur-place .image-container img {
    width: 400px;
  }

  body main .sur-place h2 {
    font-size: 35px;
  }

  body main .sur-place .arrondissements img {
    width: 450px;
  }

  body main .sur-place .arrondissements section img {
    width: 300px;
  }

  body main .sur-place .arrondissements section p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body main .gros-titre-contact img {
    width: 100%;
  }

  body main .sur-place h1 {
    font-size: 80px;
  }

  body main .sur-place .image-container {
    height: 400px;
  }

  body main .sur-place .image-container img {
    width: 500px;
  }

  body main .sur-place .grid-query {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 18px;
  }

  body main .sur-place .grid-query h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1023px) {
  body main .gros-titre-contact img {
    width: 100%;
  }

  body main .sur-place h1 {
    font-size: 100px;
  }

  body main .sur-place .image-container {
    height: 600px;
  }

  body main .sur-place .image-container img {
    width: 700px;
  }

  body main .sur-place .grid-query {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 20px;
  }

  body main .sur-place .grid-query h2 {
    font-size: 45px;
  }
}