@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-medium.otf");
  font-style: medium;
}

@font-face {
  font-family: "orkney";
  src: url("../assets/orkney-light.otf");
  font-style: light;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: orkney;
}

/**********************************


************** HEADER *************


***********************************/

body header {
  display: flex;
  background: #053b50;

}


body header .bandeaux {
  width: 90%;
  margin: auto;
}

body header .bandeaux .reseaux {
  display: flex;
  margin-top: 1%;
}

body header .bandeaux .reseaux a {
  margin: auto;
}

body header .bandeaux .reseaux img {
  display: flex;
  align-items: flex-end;
}

body header .bandeaux .reseaux input {
  display: flex;
  width: 40%;
  border: solid 1px #176b87;
  border-radius: 20px;
  background-color: #f8f9f1;
  opacity: 0.7;
  text-align: center;
  height: 25px;
  margin: auto;
}

body header .burger-menu {
  position: fixed;
  width: 0px;
  z-index: 9999;
}

body header .burger-menu #hamburger {
  display: none;
}

body header .burger-menu #hamburger-logo {
  cursor: pointer;
  background: #053b50;
  display: block;
  color: white;
  text-align: right;
}

body header .burger-menu nav {
  background: #053b50;
  overflow: hidden;
}

body header .burger-menu #hamburger-logo,
body header .burger-menu nav {
  transition: 0.7s;
}

body header .burger-menu #hamburger:checked~#hamburger-logo,
body header .burger-menu #hamburger:checked~nav {
  transform: translate(0px);
}

body header .burger-menu nav a {
  display: block;
  color: white;
  text-decoration: none;
}

body header .burger-menu nav a:hover {
  background: #053b50;
}

/**********************************


*************** MAIN **************


***********************************/

body main {
  overflow-x: hidden;
  background-color: #f8f9f1;
}

body main h1,
body main h2 {
  width: 50%;
  margin-left: 25%;
  font-size: 3vw;
  background-color: #053B50;
  border-radius: 25px;
  color: white;
  text-align: center;
}

body main h3 {
  display: flex;
  font-size: 35px;
  color: #176b87;
  justify-content: center;
}

/**********************************


********** MAIN contener **********


***********************************/
body main .gros-titre {
  width: 100vw;
  height: auto;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: static;
}

body main .container {
  display: flex;
  overflow-x: auto;
  text-align: center;
  margin-bottom: 10px;
}

body main .container .container-scroll {
  margin: 5% 5% 1% 5%;
}

body main .container .container-scroll .article-scroll {
  background-color: #053B50;
  border-radius: 8px;
  color: white;
}

body main .container .container-scroll .article-scroll h2 {
  color: #176b87;
  padding: 4%;
}

body main .container .container-scroll .article-scroll img {
  border-radius: 15px;
  margin: 5px;
}

body main .container .container-scroll .article-scroll p {
  font-size: 20px;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

body main .container .container-scroll .article-scroll p::-webkit-scrollbar {
  width: 2px;
}

/**********************************


************ MAIN match ***********


***********************************/

body main .match {
  background-color: #053B50;
  margin-top: 20px;
}

body main .match .container-scroll .article-scroll {
  background-color: #F8F9F1;
}

body main .match .container-scroll .article-scroll h2 {
  text-align: center;
  font-size: 35px;
}

body main .match .container-scroll .article-scroll h3 span:first-child {
  color: #0b3fa1;
  padding-right: 10px;
}

body main .match .container-scroll .article-scroll h3 span:last-child {
  color: #af3817;
  padding-left: 10px;
}


body main .match .container-scroll .article-scroll .gallery {
  display: grid;
  grid-auto-flow: row;
  height: 600px;
  background-color: black;
  margin-top: 25px;
}

body main .match .container-scroll .article-scroll .gallery>img {
  height: 0;
  min-height: calc(100% + 16px / 2);
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0px;
  padding: 0;
}

body main .match .container-scroll .article-scroll .gallery>img:hover {
  height: 300px;
}

body main .match .container-scroll .article-scroll .gallery>img:first-child {
  place-self: start;
  justify-self: center;
  clip-path: polygon(0 0,
      100% 0%,
      100% calc(92% - 16px),
      90% calc(92% + 16px),
      80% calc(92% - 16px),
      70% calc(92% + 16px),
      60% calc(92% - 16px),
      50% calc(92% + 16px),
      40% calc(92% - 16px),
      30% calc(92% + 16px),
      20% calc(92% - 16px),
      10% calc(92% + 16px),
      0 calc(92% - 16px));
}

body main .match .container-scroll .article-scroll .gallery>img:last-child {
  place-self: end;
  justify-self: center;
  background-color: white;
  clip-path: polygon(0% 100%,
      100% 100%,
      100% calc(8% - 16px),
      90% calc(8% + 16px),
      80% calc(8% - 16px),
      70% calc(8% + 16px),
      60% calc(8% - 16px),
      50% calc(8% + 16px),
      40% calc(8% - 16px),
      30% calc(8% + 16px),
      20% calc(8% - 16px),
      10% calc(8% + 16px),
      0 calc(8% - 16px));
}

body main .match .container-scroll .article-scroll p {
  color: black;
}

/**********************************


*************** FOOTER ************


***********************************/

body footer {
  position: relative;
  background-image: url(../assets/photo-histoire/skyline-footer-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 620px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

body footer .icon-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 4% 0% 1% 0%;
  margin-left: 5%;
  margin-bottom: 5%;
}

body footer .contact {
  display: flex;
  flex-direction: row;
  font-size: 6px;
  margin-right: 5%;
  margin-bottom: 5%;
}

body footer .contact a {
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  color: #f8f9f1;
  font-weight: 600;
  text-align: center;
}

/********** Media Query ***********/

@media only screen and (max-width: 480px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 10px;
  }

  body header .burger-menu #hamburger-logo {
    width: 90px;
    transform: translateX(-70px);
    padding: 5px;
  }

  body header .burger-menu nav {
    width: 100px;
    transform: translateX(-100px);
  }

  body header .burger-menu nav a {
    padding: 10px;
  }

  /*********** MAIN **********/

  body main .gros-titre img {
    width: 100%;
  }

  body main h1,
  body main h2 {
    font-size: 1.3em;
  }

  body main .container .container-scroll .article-scroll h3 {
    padding-top: 10px;
    font-size: 1.2em;
  }

  body main .container .container-scroll .article-scroll p {
    font-size: 0.8em;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 15px;
  }

  body header .bandeaux .reseaux input {
    height: 15px;
  }

  body header .burger-menu #hamburger-logo {
    width: 135px;
    transform: translateX(-115px);
    padding: 7.5px;
    font-size: 1.2em;
  }

  body header .burger-menu nav {
    width: 150px;
    transform: translateX(-150px);
  }

  body header .burger-menu nav a {
    padding: 15px;
  }

  /*********** MAIN **********/

  body main .gros-titre img {
    width: 100%;
  }

  body main h1,
  body main h2 {
    font-size: 1.7em;
  }

  body main .container .container-scroll .article-scroll h3 {
    padding-top: 10px;
    font-size: 1.4em;
  }

  body main .container .container-scroll .article-scroll p {
    font-size: 1em;
  }

  /********** Footer ***********/

  body footer {
    background-image: url(../assets/photo-histoire/skyline-footer-2.jpg);
    height: 200px;
  }

  body footer .icon-footer img {
    width: 45px;
    margin-bottom: 5%;
  }

  body footer .icon-footer .plan img {
    width: 25px;
    margin-left: 15px;
  }

  body footer .contact {
    font-size: 12px;
    flex-direction: column;
  }

  body footer .contact a {
    padding: 4%;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 25px;
  }

  body header .bandeaux .reseaux input {
    height: 25px;
  }

  body header .burger-menu #hamburger-logo {
    width: 202.5px;
    transform: translateX(-187.5px);
    padding: 11.25px;
    font-size: 1.4em;
  }

  body header .burger-menu nav {
    width: 225px;
    transform: translateX(-225px);
  }

  body header .burger-menu nav a {
    padding: 22.5px;
    font-size: 2em;
  }

  /*********** MAIN **********/

  body main .gros-titre img {
    width: 100%;
  }

  body main h1,
  body main h2 {
    font-size: 2.5em;
  }

  body main .container .container-scroll .article-scroll h3 {
    padding-top: 10px;
    font-size: 2em;
  }

  body main .container .container-scroll .article-scroll p {
    font-size: 1.3em;
  }

  /********** Footer ***********/
  body footer {
    height: 300px;
  }

  body footer .icon-footer img {
    width: 70px;
  }

  body footer .icon-footer .plan img {
    width: 35px;
    margin-left: 25px;
  }

  body footer .contact a{
    font-size: 15px;
    flex-direction: row;
  }
}

/********** Media Query ***********/

@media only screen and (min-width: 1023px) and (max-width: 1700px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 30px;
  }

  body header .bandeaux .reseaux input {
    height: 30px;
  }

  body header .burger-menu #hamburger-logo {
    width: 303.75px;
    transform: translateX(-286.25px);
    padding: 16.87px;
    font-size: 1.4em;
  }

  body header .burger-menu nav {
    width: 337.5px;
    transform: translateX(-337.5px);
  }

  body header .burger-menu nav a {
    padding: 33.75px;
    font-size: 2.5em;
  }

  body header .bandeau img {
    width: 168.75px;
  }

  /*********** MAIN **********/

  body main .gros-titre img {
    width: 100%;
  }

  body main h1,
  body main h2 {
    font-size: 3.2em;
  }

  body main .container {
    justify-content: space-between;
  }

  body main .container .container-scroll .article-scroll h3 {
    padding-top: 10px;
    font-size: 2.5em;
  }

  body main .container .container-scroll .article-scroll p {
    font-size: 1.8em;
  }

  /********** Footer ***********/
  body footer {
    background-image: url(../assets/photo-histoire/skyline-footer-2.jpg);
    background-size: cover;
    height: 600px;
  }

  body footer .icon-footer img {
    width: 90px;
  }

  body footer .icon-footer .plan img {
    width: 50px;
    margin-left: 35px;
  }

  body footer .contact a{
    font-size: 17px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1700px) {
  /********** Header ***********/

  body header .bandeaux .reseaux img {
    width: 50px;
  }

  body header .bandeaux .reseaux input {
    height: 50px;
  }

  body header .burger-menu #hamburger-logo {
    width: 303.75px;
    transform: translateX(-286.25px);
    padding: 16.87px;
    font-size: 1.4em;
  }

  body header .burger-menu nav {
    width: 337.5px;
    transform: translateX(-337.5px);
  }

  body header .burger-menu nav a {
    padding: 33.75px;
    font-size: 2.5em;
  }

  body header .bandeau img {
    width: 168.75px;
  }

  /*********** MAIN **********/

  body main .gros-titre img {
    width: 100%;
  }

  /********** Footer ***********/

  body footer {
    height: 800px;
  }

  body footer .icon-footer img {
    width: 150px;
  }

  body footer .icon-footer .plan img {
    width: 80px;
    margin-left: 50px;
  }

  body footer .contact {
    font-size: 1.8em;
    flex-direction: row;
  }
}