body main {
    background: linear-gradient(to top right, #ffffff, #0091f1);
    margin: 0;
    padding: 0;
    text-align: center;
    color: #dbd6d6;
}

body main h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body main .boite-blanche {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

body main .boite-blanche:hover {
    transform: scale(1.05);
}

body main .boite-blanche img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body main .boite-blanche h2 {
    text-align: center;
    font-size: 2em;
    margin: 15px 0;
    color: #d1caca;
}

/********** Media Query ***********/

@media only screen and (max-width: 480px) {
    body main .boite-blanche {
        width: 90%;
        height: 140%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        padding: 10px;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        color: #268be4;
    }

    body main .boite-blanche p {
        font-size: 1em;
    }

    body main .inverse h2,
    body main .inverse p {
        color: #dbd6d6;
    }

    body main .boite-blanche:nth-child(odd) {
        background-color: #268be4;
    }
}

/********** Media Query ***********/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    body main .boite-blanche {
        width: 90%;
        height: 140%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        padding: 10px;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        color: #268be4;
    }

    body main .boite-blanche p {
        font-size: 1em;
    }

    body main .inverse h2,
    body main .inverse p {
        color: #dbd6d6;
    }


    body main .boite-blanche:nth-child(odd) {
        background-color: #268be4;
    }
}

/********** Media Query ***********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body main .boite-blanche {
        width: 90%;
        height: 140%;
        color: #dbd6d6;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        padding: 10px;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        color: #268be4
    }

    body main .boite-blanche p {
        font-size: 1em;
    }

    body main .inverse h2,
    body main .inverse p {
        color: #ffffff;
    }

    body main .boite-blanche:nth-child(odd) {
        background-color: #268be4;
    }
}

/********** Media Query ***********/

@media only screen and (min-width: 1023px) {
    body main .boite-blanche {
        width: 85%;
        flex-direction: row;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    body main .boite-blanche:hover {
        transform: scale(1.1);
    }

    body main .boite-blanche img {
        width: 40%;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        width: 60%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.8em;
        color: #268be4;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    body main .boite-blanche p {
        font-size: 1em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    body main .inverse {
        flex-direction: row-reverse;
        background-color: #26a2e4;
    }

    body main .boite-blanche.inverse h2,
    body main .boite-blanche.inverse p {
        color: #fff;
    }
}