body {
    background: url('../assets/photo-parc/fond\ parc.avif');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.boite-blanche {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

.boite-blanche:hover {
    transform: scale(1.05);
}

.boite-blanche img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.boite-blanche h2 {
    text-align: center;
    font-size: 2em;
    margin: 15px 0;
    color: #333;
}

.boite-blanche p {
    text-align: justify;
    color: #666;
    padding: 0 20px;
    margin-bottom: 20px;
}

.boite-blanche a {
    display: inline-block;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.boite-blanche a:hover {
    text-decoration: underline;
}

/* Media Queries */

/* Styles pour les très petits écrans (par exemple, montres intelligentes) */
@media only screen and (max-width: 480px) {
    .boite-blanche {
        width: 90%;
        height: 140%;
    }

    .boite-blanche img {
        width: 100%;
        height: auto;
    }
}

/* Styles pour les petits écrans (mobiles) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .boite-blanche {
        width: 80%;
        height: 130%;
    }
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .boite-blanche {
        width: 70%;
        height: 120%;
    }
}

/* Styles pour les écrans larges (ordinateurs portables) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .boite-blanche {
        width: 60%;
        height: 110%;
    }
}

/* Styles pour les grands écrans (ordinateurs de bureau) */
@media only screen and (min-width: 1280px) and (max-width: 1029px) {
    .boite-blanche {
        width: 50%;
        height: 100%;
    }
}

/* Styles pour les très grands écrans (ordinateurs de bureau) à partir de 1030px */
@media only screen and (min-width: 1030px) {
    .boite-blanche {
        width: 50%;
        height: 800px;
    }
}
