body main {
    background-color: #F8F9F1;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #053B50;
}

body main .gros-titre-parc {
    width: 100vw;
    height: auto;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: static;
}

body main h1 {
    width: 75%;
    font-size: 1.5em;
    margin-left: 12.5%;
}

body main .boite-blanche {
    display: flex;
    flex-direction: column;
    background-color: #F8F9F1;
    box-shadow: 0 0 10px #053B50;
    border-radius: 12px;
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

body main .boite-blanche:hover {
    transform: scale(1.05);
}

body main .boite-blanche img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body main .boite-blanche h2,
body main .boite-blanche p {
    font-weight: bold;
    color: #F8F9F1;
    padding: 10px;
}

body main .inverse h2,
body main .inverse p {
    color: #053B50;
    background-color: transparent;
}

body main .boite-blanche:nth-child(odd) {
    background-color: #053B50;
}

/********** Media Query ***********/

@media only screen and (max-width: 480px) {

    body main .gros-titre-parc img {
        width: 100%;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.3em;
    }

    body main .boite-blanche p {
        font-size: 1em;
    }
}

/********** Media Query ***********/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    main .gros-titre-parc img {
        width: 100%;
    }

    body main h1 {
        font-size: 1.9em;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.5em;
    }

    body main .boite-blanche p {
        font-size: 1.2em;
    }
}

/********** Media Query ***********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    main .gros-titre-parc img {
        width: 100%;
    }

    body main h1 {
        font-size: 2.1em;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.8em;
    }

    body main .boite-blanche p {
        font-size: 1.3em;
    }
}

/********** Media Query ***********/


@media only screen and (min-width: 1023px) {

    body .gros-titre-parc img {
        width: 100%;
    }

    body main h1 {
        font-size: 2.8em;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body main .boite-blanche {
        width: 85%;
        flex-direction: row;
        box-shadow: 0 0 20px;
    }

    body main .boite-blanche:hover {
        transform: scale(1.1);
    }

    body main .boite-blanche img {
        width: 40%;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        width: 60%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body main .boite-blanche h2,
    body main .boite-blanche p {
        font-size: 1.8em;
        margin-left: 0;
        max-height: 250px;

    }

    body main .boite-blanche p {
        font-size: 1em;
    }

    body main .inverse {
        flex-direction: row-reverse;
    }
}