body main .gros-titre-rando {
  width: 100vw;
  height: auto;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: static; 
}

body main .grid-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 8px;
  background-color: #f8f9f1;
  /* background-image: url("../assets/photo-rando/marseille-calanque.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body main .grid-container .grid-item {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 5% auto;
  gap: 20px;
}

body main .grid-container .grid-item .image-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgba(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(5, 59, 80, 0.4) 5px 5px, rgba(5, 59, 80, 0.3) 10px 10px, rgba(5, 59, 80, 0.2) 15px 15px, rgba(5, 59, 80, 0.1) 20px 20px, rgba(5, 59, 80, 0.05) 25px 25px;
}


body main .grid-container .grid-item .image-container h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #053B50;
}


body main .grid-container .grid-item .image-container img {
  margin-bottom: 10px;
  width: 100%;
}

body main .grid-container .grid-item .image-container p {
  width: 100%;
  text-align: center;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-line;
}

body main .grid-container .grid-item .image-container p::-webkit-scrollbar {
  width: 5px;
}

/********** Media Query ***********/
@media only screen and (max-width: 480px) {
  main .gros-titre-rando img {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  body main .grid-item {
    padding: 20px;
  }

  main .gros-titre-rando img {
    width: 100%;
  }
}

/********** Media Query ***********/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main .gros-titre-rando img {
    width: 100%;
  }
}

@media only screen and (min-width: 1023px) {
  body main .grid-container .grid-item {
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
  }

  main .gros-titre-rando img {
    width: 100%;
  }
}

