body header {
    display: flex;
}

body header .bandeaux {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

#hamburger:checked~#hamburger-logo,
#hamburger:checked~nav {
    transform: translate(0px);
}

body header .burger-menu nav a:hover {
    background: #053b50;
}

body header .bandeaux input {
    display: flex;
    width: 50%;
    border: solid 4px #176b87;
    border-radius: 20px;
    background-color: #f8f9f1;
    opacity: 0.7;
    text-align: center;
    height: 20px;
    margin: auto;
}




@media only screen and (max-width: 480px) {
    body header .bandeaux .reseaux {
        padding-top: 1%;
        padding-left: 5%;
    }

    body header .bandeaux .reseaux a img {
        width: 20px;
    }

    body header .bandeaux img {
        width: 38.25px;
        height: 25px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    body header .bandeaux .reseaux {
        padding-left: 5%;
    }

    body header .bandeaux .reseaux a img {
        width: 30px;
    }

    body header .bandeaux img {
        width: 49px;
        height: 32.5px;
    }

    body header .recherche input {
        height: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body header .bandeaux .reseaux {
        padding-left: 5%;
    }

    body header .bandeaux .reseaux a img {
        width: 45px;
    }

    body header .bandeaux img {
        width: 74.58px;
        height: 48.75;
    }

    body header .recherche input {
        height: 45px;
    }
}

@media only screen and (min-width: 1023px) {
    body header h1 {
        font-size: 5.55em;
        margin: 2% 0% 0% 11%;
    }

    body header .bandeaux .reseaux {
        padding-left: 5%;
    }

    body header .bandeaux .reseaux a img {
        width: 68px;
    }

    body header .bandeaux img {
        width: 111.69px;
        height: 73px;
    }

    body header .recherche input {
        height: 68px;
    }
}